---
import Layout from '../layouts/Layout.astro';
---

<Layout title="DataValidation library - documentation">
  <nav>
    <ul>
      <li><a href="./">basic setup</a></li>
      <li><a href="methods-list">methods list</a></li>
    </ul>
  </nav>

  <h1>Documentation</h1>
  <p>Honestly most methods are self explanatory and they'll work pretty much as you would expect; so the best way to make sure you understand them is by trying them out!</p>
  <p>Documentation is being written...!</p>
</Layout>
